<div>
    <div>
        <div style="text-align: center;">
            <h2 class="title">CERTIFICATIONS</h2>
            <h4 class="sub-title">PAYROLL PROTECTION PROGRAM</h4>
            <p style="font-weight: bold;">The Business and each 20% or greater owner must certify in good faith to all of the below by checking next to each one:</p>
        </div>

        <div class="card">
            <form #certifyForm="ngForm" (ngSubmit)="applyCertification()">
                <div style="margin-top: 20px;">
                    <div>
                        <div class="checkbox-container">
                            <mat-checkbox class="checkbox-margin" color="primary" [(ngModel)]="certifyLine1" name="certifyLine1" required></mat-checkbox>
                        </div>
                        <div style="width: 800px; display: inline-block">
                            Current economic uncertainty makes this loan request necessary to support the ongoing operations of the Applicant.
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <div class="checkbox-container">
                            <mat-checkbox class="checkbox-margin" color="primary" [(ngModel)]="certifyLine2" name="certifyLine2" required></mat-checkbox>
                        </div>
                        <div style="width: 800px; display: inline-block">
                            The funds will be used to retain workers and maintain payroll or make mortgage payments, lease payments, and utility payments; Iunderstand that if the funds are used for unauthorized purposes, the federal government may pursue criminal fraud charges.
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <div class="checkbox-container">
                            <mat-checkbox class="checkbox-margin" color="primary" [(ngModel)]="certifyLine3" name="certifyLine3" required></mat-checkbox>
                        </div>
                        <div style="width: 800px; display: inline-block">
                            Documentation verifying the number of full-time equivalent employees on payroll as well as the dollar amounts of payroll costs, coveredmortgage interest payments, covered rent payments, and covered utilities for the eight week period following this loan
                            will be providedto the lender.
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <div class="checkbox-container">
                            <mat-checkbox class="checkbox-margin" color="primary" [(ngModel)]="certifyLine4" name="certifyLine4" required></mat-checkbox>
                        </div>
                        <div style="width: 800px; display: inline-block">
                            Loan forgiveness will be provided for the sum of documented payroll costs, covered mortgage interest payments, covered rent payments,and covered utilities. Due to likely high subscription, it is anticipated that not more than twenty-five percent (25%)
                            of the forgivenamount may be for non-payroll costs.
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <div class="checkbox-container">
                            <mat-checkbox class="checkbox-margin" color="primary" [(ngModel)]="certifyLine5" name="certifyLine5" required></mat-checkbox>
                        </div>
                        <div style="width: 800px; display: inline-block">
                            During the period beginning on February 15, 2020 and ending on December 31, 2020, the Applicant has not and will not receive anotherloan under this program.
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <div class="checkbox-container">
                            <mat-checkbox class="checkbox-margin" color="primary" [(ngModel)]="certifyLine6" name="certifyLine6" required></mat-checkbox>
                        </div>
                        <div style="width: 800px; display: inline-block">
                            I further certify that the information provided in this application and the information that I have provided in all supportingdocuments and forms is true and accurate. I realize that knowingly making a false statement to obtain a guaranteed loan from
                            SBA ispunishable under 18 USC 1001 and 3571 by imprisonment of not more than five years and/or a fine of up to $250,000; under 15 USC645 by imprisonment of not more than two years and/or a fine of not more than $5,000; and,
                            if submitted to a Federally insuredinstitution, under 18 USC 1014 by imprisonment of not more than thirty years and/or a fine of not more than $1,000,000.
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <div class="checkbox-container">
                            <mat-checkbox class="checkbox-margin" color="primary" [(ngModel)]="certifyLine7" name="certifyLine7" required></mat-checkbox>
                        </div>
                        <div style="width: 800px; display: inline-block">
                            I acknowledge that the lender will calculate the eligible loan amount using tax documents I have submitted. I affirm that thesetax documents are identical to those I submitted to the IRS. I also understand, acknowledge and agree that the Lender can sharethe
                            tax information with SBA's authorized representatives, including authorized representatives of the SBA Office of InspectorGeneral, for the purpose of compliance with SBA Loan Program Requirements and all SBA reviews.
                        </div>
                    </div>
                    <div style="margin-left: 30px;">
                        <mat-form-field appearance="standard" class="input">
                            <mat-label>First and Last Name</mat-label>
                            <input matInput required [(ngModel)]="signatureAuthRep" name="signatureAuthRep">
                        </mat-form-field>
                        <p>Signature of Authorized Representative of Business with First and Last Name</p>
                    </div>
                    <div style="margin-left: 30px;">
                        <mat-form-field appearance="standard" class="input">
                            <mat-label>First and Last Name</mat-label>
                            <input matInput required [(ngModel)]="signatureOwner" name="signatureOwner">
                        </mat-form-field>
                        <p>Signature of Owner of Applicant Business with First and Last Name</p>
                    </div>

                </div>
                <div style="margin-left: 30px;">
                    <button mat-raised-button class="submit" type="submit">Submit Application</button>
                </div>
                <div *ngIf="submit!=null" class="error">
                    <div>{{submit}}</div>
                </div>
            </form>
        </div>
    </div>
</div>
