#logo {
    width: 201px;
    height: 41px;
    display: inline-block;
    /*float: left;*/
    /* margin-left: 30px; */
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    object-fit: contain;
}

header {
    border-bottom: 1pt solid #e6e6e6;
}