.main {
  margin-left: 50px;
  height: 100vh;
  padding: 20px;
  width: 1200px;
  box-shadow: 0 2px 13px 0 rgba(14, 21, 45, 0.16);
  background-color: #ffffff;
}
.action-btn{
  width: 94px;
  height: 48px;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  background-color: #0058c3;
  border: 0px;
  border-radius: 10px;
  margin-right: 10px;
}

.info-header-2{
  font-family: SourceSansPro-Bold;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.64;
  color: #5a7898;
}

.profile {
  width: 90vW;
  margin-left: 10px;
}

.mat-profile{
  width: 40vW;
  height: 12px;
  font-family: SourceSansPro-Bold;
  font-size: 18px;
  font-weight: bold;
  line-height: .86;
  letter-spacing: 1.02px;
  color: #0058c3;
  margin-left: 10px;
  float: left;
}
