.main {
  margin-left: 10px;
  height: 120vh;
  padding: 20px;
  width: 95vw;
  box-shadow: 0 2px 13px 0 rgba(14, 21, 45, 0.16);
  background-color: #ffffff;
}
.action-btn{
  width: 94px;
  height: 48px;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  background-color: #0058c3;
  border: 0px;
  border-radius: 10px;
  margin-right: 10px;
}

.info-header-2{
  font-family: SourceSansPro-Bold;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.64;
  color: #5a7898;
}

.profile {
  width: 94vw;
  margin-left: 5px;
  background-color: aliceblue;
  box-shadow: 0 2px 13px 0 rgba(14, 21, 45, 0.16);
  border-radius: 5px;
  padding-left: 5px;
}

.mat-grid-tile .mat-figure{
  align-items: flex-start !important;
  justify-content: flex-start !important ;
  width: 40vW;
  height: 12px;
  left: 10px;
  width: 100px;
  /*display: inline-flex;*/
  /*text-align: left;*/
}
.mat-column-fields{
  width: 100% !important;
  min-width: 550px;
  /*align-items: center;*/
  /*horiz-align: center;*/
  /*vertical-align: center;*/
  /*justify-items: center;*/
  /*text-align: center;*/
}
.mat-column-amount{
  text-align: right !important;
  horiz-align: right;
  min-width: 95px;
  max-width: 120px;
}
.mat-column-source{
  min-width: 100px;
  max-width: 150px;
}
.mat-column-autoVerified{
  text-align: right !important;
  horiz-align: right;
  min-width: 90px;
  max-width: 90px;
}
.mat-header-cell{
  font-size: 14px;
}
.mat-cell {
  font-family: SourceSansPro-Regular;
  font-size: 18px;
  /*font-weight: bold;*/
  line-height: .86;
  max-height: 10px;
  letter-spacing: 1.02px;
  color: #0058c3;
}
.mat-row{

}
.row-h2{
  font-family: SourceSansPro-Regular !important;
  font-size: 20px !important;
  /*font-weight: bold;*/
  /*background-color: antiquewhite ;*/
}
#mat-profile{
  min-width: 300px;
  align-items: flex-start !important;
}
