<div class="main">
  <div class="profile">
    <div class="headerD headerDetails">
      <h3 class="dentistName">{{fullName}}</h3>
      <h4 class="specialization">{{ specialty }}</h4>
      <p>
      </p>
      <div>
  </div>
  <div class="details">
    <div class="info-header-2">
      Total expenditures for prior 12 months:
    </div>
  </div>
  <div class="actions">
    <button class="action-btn btn btn-primary" (click)="action('approve')"> Search</button>
    <button class="action-btn btn btn-primary" (click)="action('addInfo')"> Search</button>
    <button class="action-btn btn btn-primary" (click)="action('deny')"> Search</button>
    <button class="action-btn btn btn-primary" (click)="action('comment')"> Search</button>
  </div>
</div>
