.title {
    font-size: 36px;
    margin-top: 30px;
}

.sub-title {
    font-size: 19px;
    color: #3898EC;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center
}

.checkbox-margin {
    margin-right: 10px;
}

.file {
    background-color: #3898EC;
    color: white;
    margin-right: 15px;
}

.select {
    width: 400px;
}

.submit {
    background-color: #cf404d;
    color: white;
    margin-top: 20px;
    width: 400px;
}

.input {
    margin-right: 20px;
    width: 300px;
}

.textarea {
    margin-top: 20px;
    width: 400px;
}